.custom-navbar{
    border-radius: 0px;
}
.logo-background{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 50px;
    width: 50px ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.custom-navbar-nav li{
    padding-left: 15px;
    padding-right: 15px;
}
.footer-custom-class{
    position: fixed;
    bottom: 10px;
}
.alert-custom-class{
    margin-top: 25px;
}
.error-input-border{
    border-color: #a94442;
}

.custom-modal-class{
    margin-top: 50px;
}
#selected_goods{
    height: 27px;
}
.error-div-border{
    box-shadow: 0 5px 15px rgba(84, 13, 0, 1);
}
#errorMessage{
    color: darkred;
    margin-top: 60px;
    padding-left: 20px;
}
.custom-left-sidebar{
    margin-bottom: 200px;
}
.marginFor{
    margin: 30px  20px;
}